@import './variables';
@import './page';
@import './header';
@import './chart';

@font-face {
  font-family: 'Russo One';
  src: url('../assets/fonts/RussoOne-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font: 15px 'Russo One', sans-serif;
}
