@import './variables';

.page {
  width: 100vw;
  height: 100vh;

  &_home {
    background:
      url('../assets/spacex-home-background.jpg')
      center center / cover
      no-repeat
      $page-color-background;
  }
}
